{% include head.html %}
    <div id="barba-wrapper">
      <div class="barba-container">
        <div id="works" class="works appear fixed">
          <div class="work work-1 no-animation">
            <div class="attachment">
              <h1>Hello</h1>
            </div>
          </div>
        </div>
        <div class="works-space"></div>
        <div class="case-container">
          <div class="case-wrapper">
            {{ content }}
          </div>
        </div>
        <div class="hud-space"></div>
      </div>
    </div>
{% include foot.html %}
