/*
  Hud

  Refers to the navigational interface across the site.
  The current logic uses a 'fixed' positioning, with 4
  general div's covering top/left/bottom/right. This is
  likely too fragile to work beyond a small scale project.
*/

.hud-top,
.hud-bottom,
.hud-left,
.hud-right {
  position: fixed;
  background: white;
}

.hud-top,
.hud-bottom {
  height: $gutter;
  width: 100%;
  @media #{$m-ld-min} {
    height: $gutter-lg;
  }
}

.hud-left,
.hud-right {
  width: $gutter;
  height: 100%;
  @media #{$m-ld-min} {
    width: $gutter-lg;
  }
}

.hud-top {
  &.transparent {
  background: transparent;
  color: #FFF;
  a {
    color: #FFF; border-color: rgba(#FFF, 0.8); }
  }
  &.work-1 {
    background: #c6d5ff;
    color: #FFF;
    a {
      color: #FFF; border-color: rgba(#FFF, 0.8);
    }
  }
  &.work-2 {
    background: #f0e8e5;
    color: #222;
    a {
      color: #222; border-color: rgba(#222, 0.8);
    }
  }
  &.work-3 {
    background: #ff6151;
    color: #FFF;
    a {
      color: #FFF; border-color: rgba(#FFF, 0.8);
    }
  }
}

.hud-bottom { bottom: 0;  }
.hud-left   { left: 0;   }
.hud-right  { right: 0;  }

// Helper for the fixed position 'hud'
.hud-space {
  width: 100%;
  height: $gutter;
  @media #{$m-ld-min} {
    height: $gutter-lg;
  }
}
