/*
    1. The HUD/header goes over the following items:
       * The 'works' section
       * The 'main content' section (e.g. 'case-container')
*/
.hud-top,
.hud-bottom {
  z-index: 4; /* 1 */
}

.hud-left,
.hud-right {
  z-index: 1;
}

.attachment {
  z-index: -10;
  .work-2 & { z-index: -9; }
  .work-3 & { z-index: -8; }
}

.grow {
  z-index: 1;
}

.fixed {
  z-index: 2;
}


.case-container {
  z-index: 3;
}


.stable {
  .work { z-index: 3; }
}
